<html>
   <head>
      <meta content = 'text/html; charset = UTF-8' http-equiv = 'Content-Type' />
   </head>
   <body>
      <h1>Hey, <%= @patient.email %></h1>
      <p>Dude, you have an appointment in 30 minutes. please go for it.</p>
      <p>Thanks</p>
   </body>
</html>